.Sidebar {
  color: white;
  position: fixed;
  background: #1cc29b;
  left: 0;
  top: 0;
  height: 100vh;
  width: 60px;
  z-index: 100000;
  text-align: center;

  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .Sidebar {
    margin: 0;
    width: 100vw;
    height: 100%;
  }
}

.Sidebar img {
  width: 28px;
  margin: 20px auto;
}

.Sidebar a:hover {
  opacity: 0.7;
}

.Logo {
  margin-bottom: 20px;
}

.Bottom {
  position: absolute;
  bottom: 0px;
  left: 17px;
}
