.Sidebar {
  position: fixed;
  background: #f4f6fb;
  left: 70px;
  top: 10px;
  width: 330px;
  z-index: 1000;
  text-align: center;

  -moz-box-shadow: 0px 4px 2px 0px #6767673a;
  -webkit-box-shadow: 0px 4px 2px 0px #6767673a;
  box-shadow: 0px 4px 2px 0px #6767673a;

  border-radius: 10px;
}

@media (max-width: 480px) {
  .Sidebar {
    margin: 0;
    width: 100vw;
    height: 100%;
  }
}
