.Button {
  border-radius: 20px;
  background: #bec1c2;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 0;
  color: rgb(255, 255, 255);
}

.ButtonActive,
.Button:hover {
  border: 0;
  border-radius: 20px;
  background: rgb(138, 139, 139);
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  padding: 10px 15px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.116);
}
