.LeafletMap {
  height: 100vh;
  background: rgb(170, 211, 223);
}

.MapComponent {
}

.Link,
.Link:visited,
.Link:active {
  color: white;
  background: rgb(45, 123, 212);
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
}

.Link:hover {
  background: rgb(78, 122, 172);
}

.Button {
  background: rgb(54, 54, 54);
  color: white;
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
}

.Button:hover {
  color: white;
}
