.leaflet-popup-content-wrapper {
  background-color: #f4f6fb;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;

  -moz-box-shadow: 0px 4px 2px 0px #6767673a;
  -webkit-box-shadow: 0px 4px 2px 0px #6767673a;
  box-shadow: 0px 4px 2px 0px #6767673a;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  text-align: left;
}

/*.leaflet-popup-tip-container {
    background-color: rgb(167, 79, 159);
  }*/

.leaflet-popup-tip {
  background-color: #f4f6fb;
}

.zoomControl {
  display: none;
}

.leaflet-control-zoom {
  display: none;
}

/*.leaflet-container a {
  color: rgb(190, 35, 204);
}

.leaflet-container a:hover,
a:active {
  color: rgb(220, 117, 230);
}*/

/* fixes 'will-change memory consumption is too high' */
.leaflet-fade-anim .leaflet-tile,
.leaflet-zoom-anim .leaflet-zoom-animated {
  will-change: auto !important;
}

.leaflet-popup-content p {
  margin: 0;
}

.leaflet-container a {
  color: white;
}
