.NavItem {
  color: rgb(73, 73, 73);
  height: 67px;
  min-width: 70px;
  margin: auto 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavItem:hover {
  color: #1cc29b;
}

.Active {
  color: #1cc29b;
  border-bottom: 3px solid#1cc29b;
}
