.Nav {
  width: 100vw;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.048);
}

.Logo {
  max-height: 60%;
  margin: auto 20px;
}

.Filler {
  width: 70px;
}

.Username {
  position: absolute;
  right: 20px;
}
