.Auth {
  /*position: fixed;
  top: 20%;
  left: 20%;
  margin: auto;*/
  width: 500px;
  background-color: #ffffff;
  border-radius: 5px;

  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.AuthWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("../../asset/fukuokabanner.jpg");
  background-size: cover;
}

.Tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 60px;
  text-decoration: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ffffff;
}

.TabInact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 60px;
  text-decoration: none;
  border-radius: 0;
}

.Tabs {
  display: flex;
  width: 100%;
  border-radius: 5px;
  background: #f4f6fb;
}

.Tabs a {
  color: rgb(54, 54, 54);
  text-decoration: none;
}

.Error {
  color: rgb(175, 23, 23);
  text-align: center;
}

.leaflet-control-zoom {
  visibility: hidden;
}

.Form {
  padding: 20px;
}

@media (max-width: 500px) {
  .Auth {
    width: 100vw;
    height: 100vh;
  }
}
