body {
  margin: 0;
  padding: 0;
  color: rgb(59, 59, 59);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /*font-family: "Bookman Old Style";*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: white;
  background-size: cover;
}
