.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.InputElement {
  border: 2px solid rgb(216, 228, 227);
  background: rgb(255, 255, 255);
  font: inherit;
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
}

.InputElement:focus {
  outline: none;
}

.Label {
  color: gray;
  text-align: left;
}
