.Button {
  width: 100%;
  padding: 10px 0;
  background: #1cc29b;
  border: 0;
  color: white;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: inherit;
}

.Button:hover {
  background: #92c9a7;
  border: 0;
  color: white;
  cursor: pointer;
}

.ButtonDiv {
  padding: 10px;
  box-sizing: border-box;
}

.ButtonDisabled {
  width: 100%;
  padding: 10px 0;
  background: rgb(115, 99, 116);
  border: 1px solid rgb(34, 34, 34);
  color: white;
  border-radius: 20px;
  pointer-events: none;
  font-size: inherit;
}

.ButtonDisabled:hover {
  padding: 10px 20px;
  box-sizing: border-box;
  color: white;
}
