.SmallTitle {
  margin: 10px;
  margin-bottom: 0%;
  color: rgb(218, 218, 218);
}

.Selector {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
}

.PostForm {
  margin: 10px;
}
