.Message {
  z-index: 100000;
  font-size: inherit;
  color: green;
  opacity: 0;
  position: fixed;
  margin: auto;
  bottom: 5px;
  left: 40%;
  border-radius: 5px;
  background: white;
  padding: 5px;

  animation-name: myAnimation;
  animation-duration: 2000ms;
}

@keyframes myAnimation {
  0% {
    opacity: 0;
    display: none;
  }
  1% {
    opacity: 1;
    display: block;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
